<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hackaton-TN</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{proxy_url_path}}{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{proxy_url_path}}{{ url_for('static', filename='paper.css') }}">
  <link rel="stylesheet" href="{{proxy_url_path}}{{ url_for('static', filename='button.css') }}">
  <link rel="stylesheet" href="{{proxy_url_path}}{{ url_for('static', filename='loader.css') }}">
  <link rel="stylesheet" href="{{proxy_url_path}}{{ url_for('static', filename='score.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
  <!-- partial:index.partial.html -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div id='content'>
    <div id="title">
      <span id="subtitle">
        TN-HACKATON
      </span>
      <br>
      <span id="bigtitle">
        AI GENERATED TEXT DETECTOR
      </span>
    </div>
    <div class="paper" id="feuille">
      <div class="paper-content">
          <textarea id="input" placeholder="Welcome to our AI GENERATED TEXT DETECTOR ! &#10;&#10;Simply write or paste your text, and our tool will analyze it to provide a 'Human-Written Likelihood Score.'&#10;&#10;This score indicates how likely it is that the text was written by a human. The higher the score, the more probable it is that a person authored the text. &#10;&#10;Give it a try and see the results!" autofocus></textarea>
      </div>
    </div>
    <button class="button-19" id="submitbutton" onclick="sendData()">Start detection</button> 
  </div>
  <div id="output_box">
    <div id="output"></div>
    <div class="loader" id="loaderid">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div id="mess_box">
    <div id="mess"></div>
    <div id="box1">
      <div id="mess_score"></div>
      <div class="container" id="score"></div>
      
    </div>
  </div>


  <script> 
    function sendData() {
        var value = document.getElementById('input').value;
        document.getElementById('output').style.display = "block";
        document.getElementById('mess_box').style.display="none";
        document.getElementById('output').innerHTML = "Detecting...";
        document.getElementById('loaderid').style.display = "inline";
        document.getElementById('submitbutton').style.display = "none";
        var tokill = document.getElementById('tokill');
        if (tokill != null){
          tokill.remove();
        }

        const htmlSelector = document.querySelector('html');
        $.ajax({
            url: '{{proxy_url_path}}/process', 
            type: 'POST', 
            data: { 'data': value }, 
            success: function(response) { 
                document.getElementById('mess_box').style.display="block";
                if (response.int >= 70){
                  document.getElementById('mess').style.color= "green";
                  document.getElementById('mess_score').style.color = "green";
                  document.getElementById('mess').innerHTML = "This text seems to be human written.";
                  htmlSelector.style.setProperty('--color', "green");
                }else if(response.int >= 40){
                  document.getElementById('mess').style.color= "orange";
                  document.getElementById('mess_score').style.color = "orange";
                  document.getElementById('mess').innerHTML = "This text could be AI generated.";
                  htmlSelector.style.setProperty('--color', "orange");
                }else{
                  document.getElementById('mess').style.color= "red";
                  document.getElementById('mess_score').style.color = "red";
                  document.getElementById('mess').innerHTML = "This text seems to be AI generated.";
                  htmlSelector.style.setProperty('--color', "red");
                }
                htmlSelector.style.setProperty('--value', response.int.toString() + "%");
                document.getElementById('mess_score').innerHTML = "Human-Written Likelihood Score : " + response.int.toString() + " %";
                document.getElementById('score').innerHTML = "<div class='progress progress-striped' id='tokill'><div class='progress-bar'></div></div>"
                document.getElementById('loaderid').style.display = "none";
                document.getElementById('output').style.display = "none";
                document.getElementById('submitbutton').style.display = "inline";
            }, 
            error: function(error) { 
                console.log(error); 
            } 
        }); 
    } 
    
  </script>
</body>
</html>
